@tailwind base;
@tailwind components;
@tailwind utilities;

@import './print.css';

@layer base {
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary-100 selection:text-primary-900;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-medium tracking-tight text-gray-900;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  input::placeholder, textarea::placeholder {
    @apply text-gray-400;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/80 backdrop-blur-md border border-white/20;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
